/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_dark {
  --accent-color: #ff0070;
  --accent-color-header: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --title-color: #db00ff;
  --decor-title-color: #000028;
  --title-shadow-color: #ff0070;
  --accent-color-hover: #ff007066;

  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root.theme_dark {
  --accent-color: #ff0070;
  --accent-color-header: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --title-color: #db00ff;
  --decor-title-color: #000028;
  --title-shadow-color: #ff0070;
  --accent-color-hover: #ff007066;
}

.page.theme_dark > .header > .decorated-item {
  display: inline-flex;
}

.page.theme_dark > .header > .heading {
  --title-shadow-color: #ff0070;
}

@media (prefers-color-scheme: dark) {

  :root {
    --accent-color: #ff0070;
    --accent-color-header: #ff0070;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --title-color: #db00ff;
    --decor-title-color: #000028;
    --title-shadow-color: #ff0070;
    --accent-color-hover: #ff007066;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

    @media (width <= 768px) {
      .page > .heading {
        --title-shadow-color: #ff0070; 
    }

  }
}