/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --accent-color-header: #353430;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --decor-title-color: #353430;
  --title-shadow-color: #ff0070;
  --accent-color-hover: #32312d66;

  background-image: url(../images/cover-image-light.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page.theme_light > .header > .decorated-item {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-header: #353430;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --decor-title-color: #353430;
    --title-shadow-color: #ff0070;
    --accent-color-hover: #32312d66;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .page > .header > .decorated-item {
    display: none;
  }
}
